.logo {
    display: flex;
    justify-content: space-around;

    img {
        width: 200px;
    }

}


.titre {
    display: flex;
    flex-direction: column;

    h1,
    p {

        margin-left: 15rem;
        margin-bottom: 0;
        font-family: "Poppins", sans-serif;
        color: #707070;

    }

    h1 {
        font-size: 4em;
        padding: 0px;
    }

    p {
        padding-bottom: 1em;
    }




}


ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

}

li {
    list-style-type: none;


    a {
        text-decoration: none;
    }
}


main {
    /* margin-left: 15rem; */
}

.ambassadeurs {
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin-top: 7rem;

    div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    h2,
    p {
        color: #707070;
        padding: 0px;
        margin: 0px;
        font-family: "Poppins", sans-serif;
    }

    p {
        padding: 0px;
        margin-left: 0px;
    }

    img {
        width: 50vw;
        border-radius: 0px 500px 500px 0px;
        translate: -100px 0px;




        &:hover {
            translate: 0px 0px;
            /* animation-name: ambassadeurs;
            animation-duration: sec;
            animation-direction: reverse; */
        }
    }
}

/* @keyframes ambassadeurs {
    0% {
        translate: -100px 0px;
    }

    100% {
        translate: 0px 0px;
    }
} */

.video {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    margin-top: 7rem;

    video {
        width: 90vw;
        border-radius: 500px 0px 0px 500px;
    }
}