/*[ VARIABLES ]*/
/* ------------------------------------------------------------ */
:root {
    --blancOff: #F7F7F7;
    --bleuFonce: #1C4A4F;
    --bleuClair: #58C2D0;
    --jaune: #E8D246;
    --grisFonce: #292929;
    --grisClair: #707070;
}