body{
    padding-top: 60px ;
    padding-bottom: 60px;
}

.entete {
    display: flex;
    flex-direction: row;
    gap: 50px;
    align-items: flex-end;
    justify-content: center;

    p {
        width: 250px;
        font-family: "Work-Sans", sans-serif;
        font-size: 15px;
        font-weight: 700;
        color: var(--grisFonce);
        text-transform: uppercase;
        letter-spacing: 1px;
    }

    .contacts{
        margin-bottom: 5px;
    }
}

.img-container {
    width: 250px;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }
}